@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <h1 class="about-header">About Us</h1>
    <p class="about-text">
       MunicipalSolutions is an innovative web platform designed to streamline communication between government officials and the public.t allows citizens to submit reports on local issues, receive important announcements and notices, and stay informed about community developments. By providing a centralized space for information sharing and feedback, MunicipalSolutions helps bridge the communication gap, ensuring more transparent, efficient, and responsive governance at the municipal level.
    </p>
    <p class="about-text">
        You can explore different pages like the Home page, Contact form, and Privacy policy. All pages are designed to be user-friendly and responsive on various devices.
    </p>
    <p class="about-text">
        
    </p>
    <a href="/" class="about-button">Back to Home</a>
</div>